<div class="row">
    <div class="col-md-12">
        <h2>Mark assignments</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form role="form" ng-submit="submit(formData)" >
				<div class="panel panel-default">
				  <div class="panel-heading">Answer {{answers[0].id}}</div>
				  <div class="panel-body">
				    <pre>{{answers[0].content.trim()}}</pre>
				    <div class="form-group">
					    <label for="pcomment1">What I liked about the answer:</label>
					    <textarea class="form-control" id="pcomment1" 
					       placeholder="Your comment" rows="2"
					       ng-model="formData.pcomment1"></textarea>
					 </div>
                <div class="form-group">
                   <label for="ccomment1">How it could be better:</label>
                   <textarea class="form-control" id="ccomment1" 
                     placeholder="Your comment" rows="2"
                     ng-model="formData.ccomment1"></textarea>
                </div>
				  </div>
				</div>            

            <div class="panel panel-default">
              <div class="panel-heading">Answer {{answers[1].id}}</div>
              <div class="panel-body">
                <pre>{{answers[1].content.trim()}}</pre>
                <div class="form-group">
                   <label for="pcomment2">What I liked about the answer:</label>
                   <textarea class="form-control" id="pcomment2" 
                      placeholder="Your comment" rows="2"
                      ng-model="formData.pcomment2"></textarea>
                </div>
                <div class="form-group">
                   <label for="ccomment2">How it could be better:</label>
                   <textarea class="form-control" id="ccomment2" 
                     placeholder="Your comment" rows="2"
                     ng-model="formData.ccomment2"></textarea>
                </div>
              </div>
            </div>            

            <div class="form-group">
               <label for="slider">Which answer was better, and by how much? If both were equally good, keep it in the middle.</label>
               <br/>
               <B class="radio-inline" >Answer {{answers[0].id}} 
                  <span class="glyphicon glyphicon-thumbs-up"></span>
               </B>
               <input type="radio" class="radio-inline" name="slider" 
                  id="slider" value="{{val}}" ng-model="formData.score" 
                  ng-repeat="val in [1,2,3,4,5,6,7,8,9,10,11]">
               <B class="radio-inline" >
                  <span class="glyphicon glyphicon-thumbs-up"></span>
                  Answer {{answers[1].id}}
               </B>
            </div>
            

            <input type="submit" class="btn btn-primary" value="submit"/>
        </form>
    </div>
</div>

<p></p>
