<div class="row">
    <div class="col-md-12">
        <h2>Welcome {{user.name}}!</h2>
    </div>
</div>

<!-- List of assignments -->
<div class="row" ng-hide="answer.assignment.id">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>Assignment</th>
            </tr>
            <tr ng-repeat="answer in answers">
                <td>{{answer.assignment.name}}</td>
            </tr>
        </table>
    </div>
</div>

<!-- Answer to a specific assignment -->
<div class="row" ng-show="answer.assignment.id">
    <div class="col-md-12">
        <h2>Assignment {{answer.assignment.name}}</h2>

        <form role="form" ng-submit="submit(answer.assignment.id, answer.content)" >
            <div class="form-group">
                <label>{{answer.assignment.question}}</label>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="6" ng-model="answer.content" 
                  ng-required="true"></textarea>
            </div>
            <input type="submit" class="btn btn-default" 
            value="submit"/>

        </form>
    </div>
</div>

