
<div class="row">
	<div class="col-md-12">
		<h2>Assignment Peer Marking</h2>
		<b>{{assignment.name}}</b>

		<form role="form" ng-submit="grade(assignment.id)">
			<div class="form-group">

				<p>Current marking progress</p>

				<table class="table table-striped table-bordered">
					<tr>
						<th>Answers</th>
						<th>Marked</th>
					</tr>
					<tr ng-repeat="md in markingData">
						<td>{{md.answers}}</td>
						<td>{{md.evaluations}}</td>
					</tr>
				</table>
			</div>
			<input type="submit" class="btn btn-success" value="Start Grading" />
		</form>
	</div>
</div>
