<div class="row">
    <div class="col-md-12">
        <h2>Welcome {{user.name}}!</h2>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-success" href="#/teacher/new">New Assignment</a>
    </div>
</div>
<br/>
<div class="row" ng-show="mode='list'">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>Assignment</th>
                <th>Status</th>
                <th>Operation</th>
            </tr>
            <tr ng-repeat="assignment in assignments">
                <td>{{assignment.name}}<br/><br/>{{assignment.question}}</td>
                <td>{{assignment.status}}</td>
                <td>
                  <a class="btn" href="#/teacher/edit/{{assignment.id}}">Edit</a>
                  <a class="btn" ng-click="mark(assignment.id)" ng-show="assignment.status == 'EDITING'">Start Mark</a>
                  <a class="btn" href="#/teacher/mark/{{assignment.id}}" ng-show="assignment.status == 'MARKING'">View Marking</a>
                  <a class="btn" href="#/teacher/grade/{{assignment.id}}" ng-show="assignment.status == 'GRADING'">Grade</a>
                  <a class="btn" ng-click="del(assignment.id)" ng-show="assignment.status != 'MARKING' && assignment.status != 'GRADING'">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>
