<div class="row">
    <div class="col-md-12">
        <h2>Welcome {{user.name}}!</h2>
    </div>
</div>

<p>
	<ul class="nav nav-pills">
	  <li class="active"><a href="#/teacher/new">New Assignment</a></li>
	</ul>
</p>

<div class="row" ng-show="mode='list'">
    <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Assignment</th>
                <th>Status</th>
                <th>Operation</th>
            </tr>
            <tr ng-repeat="assignment in assignments" class="{{assignment.rowClass}}">
                <td>{{assignment.name}}<br/><br/>{{assignment.question}}</td>
                <td>{{assignment.status}}</td>
                <td>
                  <a class="btn" href="#/teacher/edit/{{assignment.id}}">
                     <span class="glyphicon glyphicon-wrench"></span> Edit</a>
                  
                  <a class="btn" ng-click="edit(assignment.id)" 
                     ng-show="assignment.status == 'NEW' || assignment.status == 'COMPLETE'"
                     ><span class="glyphicon glyphicon-play-circle"></span> Start</a>
                  <a class="btn" href="#/teacher/view/{{assignment.id}}" 
                     ng-show="assignment.status == 'EDITING'"
                     ><span class="glyphicon glyphicon-eye-open"></span> View</a>
                  <a class="btn" ng-click="mark(assignment.id)" 
                     ng-show="assignment.status == 'EDITING'"
                     ><span class="glyphicon glyphicon-ok-circle"></span> Start Marking</a>
                  <a class="btn" href="#/teacher/mark/{{assignment.id}}" 
                     ng-show="assignment.status == 'MARKING'"
                     ><span class="glyphicon glyphicon-eye-open"></span> View Marking</a>
                  <a class="btn" href="#/teacher/grade/{{assignment.id}}" 
                     ng-show="assignment.status == 'GRADING'"
                     ><span class="glyphicon glyphicon-pencil"></span> Grade</a>
                  <!-- Delete disabled because teacher shouldn't end up deleting answers -->
                  <!--  a class="btn" ng-click="del(assignment.id)"
                     ng-show="assignment.status != 'MARKING' && assignment.status != 'GRADING'"
                     ><span class="glyphicon glyphicon-trash"></span> Delete</a -->
                </td>
            </tr>
        </table>
    </div>
</div>
