<div class="row">
    <div class="col-md-12">
        <h2>Welcome {{user.name}}!</h2>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-success" href="#/teacher/new">New Assignment</a>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>Assignment</th>
                <th>Status</th>
                <th>Operation</th>
            </tr>
            <tr ng-repeat="assignment in assignments">
                <td>{{assignment.name}}<br/><br/>{{assignment.question}}</td>
                <td>{{assignment.status}}</td>
                <td>
                  <a class="btn" href="#/teacher/edit">Edit</a>
                  <a class="btn" href="#/marking">Mark</a>
                  <a class="btn" href="#/grading">Grade</a>
                </td>
            </tr>
        </table>
    </div>
</div>
