
<div class="row">
    <div class="col-md-12">
        <h2>Edit Assignment</h2>

        <form role="form" ng-submit="update(assignment.id, assignment.name, assignment.question)">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" ng-model="assignment.name" ng-required="true">
            </div>
            <div class="form-group">
                <label>Question</label>
                <textarea class="form-control" rows="3" ng-model="assignment.question" ng-required="true">{{assignment.question}}</textarea>
            </div>
            <input type="submit" class="btn btn-success" value="submit"/>
        </form>
    </div>
</div>
